.calcu2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 400px;
    height: 100px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 300px;
}

.grid-buttonC2 {
    font-size: 50px;
    background-color: transparent;
}

.btnC2{
    font-size: 35px;
    width: 100px;
    height: 100px;
    background-size: 500px 500px;
    background-color: #fafafa75;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}

.btnC2:hover {
    opacity: 0.8;
}

.btnC22{
    font-size: 35px;
    width: 100px;
    height: 100px;
    background-size: 500px 500px;
    background-color: #ff6d00;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}

.btnC22:hover {
    opacity: 0.8;
}

.btnC3{
    font-size: 35px;
    width: 200px;
    height: 100px;
    background-size: 500px 500px;
    background-color:#fafafa75;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3rem;
}

.btnC3:hover {
    opacity: 0.8;
}