/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/StartApp.css ***!
  \********************************************************************/
body {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Header.css ***!
  \******************************************************************/
.container {
    width: auto;
    height: 50px;
    text-align: center;
}

.words {
    color: white;
}
/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Display.css ***!
  \*******************************************************************/
.display {
    width: 400px;
    height: 150px;
    background-color: transparent;
    padding-top: 10px;
    margin: 0 auto;
    position: sticky;
    border-radius: 1rem;
    margin-bottom: .5rem;
    font-size: 70px;
    word-wrap: break-word;
    word-break: break-all;
}

.display2 {
    width: 400px;
    height: 100px;
    background-color: #fafafa75;
    padding-top: 20px;
    margin: 0 auto;
    position: sticky;
    border-radius: 1rem;
    margin-bottom: .5rem;
    font-size: 70px;
    word-wrap: break-word;
    word-break: break-all;
}
/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Calculator.css ***!
  \**********************************************************************/
.calcu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 400px;
    height: 100px;
    background-color: transparent;
    margin: 0 auto;
    /* margin-top: 50px; */
}

.grid-button {
    font-size: 50px;
    background-color: transparent;
}

.btn{
    font-size: 35px;
    width: 100px;
    height: 100px;
    background-size: 500px 500px;
    background-color: #fafafa75;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}

.btn:hover {
    opacity: 0.8;
}

.btn2{
    font-size: 35px;
    width: 100px;
    height: 100px;
    background-size: 500px 500px;
    background-color: #ff9100;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}

.btn2:hover {
    opacity: 0.8;
}
/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Calculator2.css ***!
  \***********************************************************************/
.calcu2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 400px;
    height: 100px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 300px;
}

.grid-buttonC2 {
    font-size: 50px;
    background-color: transparent;
}

.btnC2{
    font-size: 35px;
    width: 100px;
    height: 100px;
    background-size: 500px 500px;
    background-color: #fafafa75;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}

.btnC2:hover {
    opacity: 0.8;
}

.btnC22{
    font-size: 35px;
    width: 100px;
    height: 100px;
    background-size: 500px 500px;
    background-color: #ff6d00;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50%;
}

.btnC22:hover {
    opacity: 0.8;
}

.btnC3{
    font-size: 35px;
    width: 200px;
    height: 100px;
    background-size: 500px 500px;
    background-color:#fafafa75;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3rem;
}

.btnC3:hover {
    opacity: 0.8;
}
